body {
  font-family: "Muli", Arial, Helvetica, sans-serif;
  overflow: scroll;
  background-color: black;
}

h1, h2, h3 {
  font-family: "Montserrat","Arial Black", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  border-bottom: #06D6A0 0.1em solid;
  padding-bottom: 0.8em;
}

h2 {
  font-size: 1.2em;
  color: #0057B5;
}

h3 {
  font-size: 1.2em;
  color: #0057B5;
}

h4 {
  font-size: 1em;
}

.fa {
  color: #06D6A0;
}

.fa:hover {
  color: #0BEFB2;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #EFE9E7;
  display: inline-block;
}

.navbar-default .navbar-nav>li>a {
  color: #EFE9E7;
  font-size: 0.8em;
  padding-top: 2.2em;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: black;
}

.navbar, .navbar-default, .navbar-static-top {
  background-color: black!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #06D6A0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #06D6A0;
  background-color: black;
}

.dropdown, .open {
  background-color: transparent!important;
}

.dropdown-menu {
  background-color: black;
  color: white;
  border: none;
}

.dropdown li a {
  background-color: transparent;
  color: white;
  font-size: 0.8em;
}

.dropdown li a:hover {
  color: #06D6A0;
  background-color: black;

}

.jumbotron {
  background-image: url(chameleon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  margin-top: 0;
  position: relative;
  top: 50%;
  transform: translateY(2em);
  margin-bottom: 0;
  display: none;
}

.jumbotron .container {
  padding: 1em 5em;
  font-family: "Montserrat","Arial Black", sans-serif;
  color: #EFE9E7;
  position: absolute;
  bottom: 0em;
  background-color: black;
  width: 100%;
}

.jumbotron h1 {
  color: #06D6A0;
  font-style: italic;
  border-bottom: none;
  /*line-height: 1.2em;*/
}

.jumbotron h1 span, .jumbotron p span {
  background-color: black;
  padding: 0em; 1em;

}

.jumbotron p span {
  padding: 0.2em 0em;
}

.jumbotron p {
  margin-bottom: 1em;
  font-weight: 100;
  font-size: 1.2em;
  /*line-height: 1.2em;*/
}

.section {
  transform: translateY(2em);
  padding: 2em 5em;
  text-align: left;
}

.section h1 {
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background-color: #06D6A0;
  border-color: #06D6A0;
  font-size: 1em;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0BEFB2;
  border-color: #0BEFB2;
  font-size: 1em;
}

.lead-line {
  font-weight: 700;
  font-size: 1.3em;
  color: #0057B5;
}

#info {
  display: none;
}

#about {
  background-color: white;
}

#services {
  background-color: #E8F3FC;
}

#services .cell, #team .cell {
  text-align: center;
}

#contact, #careers {
  text-align: left;
  background-color: white;
}

#values  {
  background-color: white;
}

#team {
  background-color: #E8F3FC;
}

.left-cell {
  text-align: left;
}

.cell img:hover {
  filter: brightness(110%);
}

.row {
  vertical-align: center;
}

footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 767px) {
  .left-cell {
    text-align: center;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }
}
