body {
  font-family: "Muli";
  overflow: scroll;
}

h1, h2, h3 {
  font-family: "Montserrat";
  color: #0267C1;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.btn-primary {
  color: #fff;
  background-color: #06D6A0;
  border-color: #06D6A0;
  font-size: 15px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #06D6A0;
  border-color: #06D6A0;
  font-size: 15px;
}

.fa {
  color: #0267C1;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #EFE9E7;
  display: inline-block;
}

.navbar-default .navbar-nav>li>a {
  color: #EFE9E7;
  font-size: 0.8em;
  padding-top: 2.2em;
}

.dropdown, .open {
  background-color: transparent!important;
}

.dropdown-menu {
  background-color:#EFE9E7;
  border: none;
}

.dropdown li a {
  background-color: transparent;
}

.dropdown li a:hover {
  background-color: #D8CECB;

}

.navbar, .navbar-default, .navbar-static-top {
  background-color: black!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #06D6A0;
}

.jumbotron {
  background-image: url(chameleon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  margin-top: 0;
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-2em);
  margin-bottom: 0px;
}

.jumbotron .container {
  padding: 1em 3em;
  font-family: "Montserrat";
  color: #EFE9E7;
  position: absolute;
  bottom: 0em;
  background-color: black;
}

.jumbotron h1 {
  color: #06D6A0;
  font-style: italic;
  /*line-height: 1.2em;*/
}

.jumbotron h1 span, .jumbotron p span {
  background-color: black;
  padding: 0em; 1em;

}

.jumbotron p span {
  padding: 0.2em 0em;
}

.jumbotron p {
  margin-bottom: 15px;
  font-weight: 100;
  font-size: 15px;
  /*line-height: 1.2em;*/
}

.section {
  transform: translateY(-2em);
  padding: 2em 5em;
  text-align: left;
  border-bottom: lightgrey 1px solid;
}

.section h1 {
  text-transform: uppercase;
}

.container {
  text-align: right;
}

#about {
  background-color: white;
}

#services {
  text-align: center;
  background-color: #cedbe5;
}

#contact, #careers {
  text-align: left;
  background-color: white;
}

#values  {
  background-color: white;
}

#team {
  background-color: #cedbe5;
}

.row {
  vertical-align: center;
}

footer {
  text-align: center;
}


@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 48px;
  }
}
